# This is a sample .env file.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config

NODE_ENV=production
PORT=8080

#
# Admin
#
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret

#
# Redis
#
REDIS_URL=redis://127.0.0.1:6379
# REDIS_URL=redis://default:redispassword@127.0.0.1:6379
REDIS_QUEUE_RECOGNIZE=recognize_
REDIS_EXPIRACY=600 #10 min

#
# Monitor
#
MONITOR_ENABLED=true
MONITOR_ROUTE=/admin/status


#
# Bull Monitor
#
BULL_MONITOR_ENABLED=true
BULL_MONITOR_ROUTE=/admin/bull

#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/admin/api-docs
SWAGGER_SHOW_ADMIN_SECTION=true

#
# Rapid API
#
RAPID_API_PROXY_SECRET=rapid_api_secret

#
# LOG
#
LOG_TESSERACT_CORE_ENABLED=false

#
# FILE SIZE LIMIT
#
FILE_SIZE_LIMIT_BYTE=3000000 #3mb